<section id="about" class="about section">

<!-- Section Title -->
<div class="container section-title" data-aos="fade-up">
  <h2>About</h2>
  <p>Recently graduated in ICT-Electronics, specializing in web and software development with experience in front-end (React) and back-end (Node.js) development. Proficient in JavaScript, Python, and C#. Passionate about continuously improving technical skills and contributing to innovative projects.</p>
</div><!-- End Section Title -->

<div class="container" data-aos="fade-up" data-aos-delay="100">

  <div class="row gy-4 justify-content-center">
    <div class="col-lg-4">
      <img src="assets/img/profileportfolio.jpg" class="img-fluid" alt="Profile Picture">
    </div>
    <div class="col-lg-8 content">
      <h2>Full Stack &amp; Software Developer.</h2>
      <p class="fst-italic py-3">
        I am a dedicated developer with a strong passion for building efficient, scalable, and user-friendly applications. My goal is to create solutions that make an impact.
      </p>
      <div class="row">
        <div class="col-lg-6">
          <ul>
            <li><i class="bi bi-chevron-right"></i> <strong>Name:</strong> <span>Kevin Van Hove</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+0473 42 71 22</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Sint-Niklaas, Belgium</span></li>
          </ul>
        </div>
        <div class="col-lg-6">
          <ul>
            <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor of Electronics and ICT | Odisee Ghent</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>kevinvanhove98&#64;hotmail.com</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>Work:</strong> <span>Available</span></li>
          </ul>
        </div>
      </div>
      <p class="py-3">
        I am enthusiastic about tackling challenging projects and learning new technologies. Whether working independently or as part of a team, I strive to deliver high-quality results. I value clear communication and a collaborative approach to problem-solving.
      </p>
    </div>
  </div>

</div>


  </section>
