<header
  id="header"
  class="header d-flex flex-column justify-content-center"
  [class.header-show]="isHeaderVisible"
>
  <!-- Mobile menu toggle button -->
  <i
    class="header-toggle d-xl-none bi"
    [ngClass]="{
      'bi-list': !isHeaderVisible,
      'bi-x': isHeaderVisible
    }"
    (click)="toggleHeader()"
  ></i>

  <!-- Navigation Menu -->
  <nav id="navmenu" class="navmenu">
    <ul>
      <li *ngFor="let item of navmenuItems">
        <a 
          [href]="item.link" 
          [class.active]="item.active" 
          (click)="onNavItemClick(item)"
        >
          <i class="{{ item.icon }} navicon"></i>
          <span>{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
