<section id="portfolio" class="portfolio section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Portfolio</h2>
    <p>Here's a collection of some of my personal projects, some finished some under construction! Take a look and let me know what you think.</p>
  </div>

  <div class="container">

    <!-- Portfolio Filters -->
    <ul class="portfolio-filters" data-aos="fade-up" data-aos-delay="100">
      <li 
        [class.filter-active]="selectedFilter === '*'" 
        (click)="setFilter('*')">
        All
      </li>
      <li 
        [class.filter-active]="selectedFilter === 'filter-web'" 
        (click)="setFilter('filter-web')">
        Web
      </li>
      <li 
        [class.filter-active]="selectedFilter === 'filter-software'" 
        (click)="setFilter('filter-software')">
        Software
      </li>
      <li 
        [class.filter-active]="selectedFilter === 'filter-misc'" 
        (click)="setFilter('filter-misc')">
        Games
      </li>
      <li 
        [class.filter-active]="selectedFilter === 'filter-hardware'" 
        (click)="setFilter('filter-hardware')">
        Hardware
      </li>
      <li 
        [class.filter-active]="selectedFilter === 'filter-AI'" 
        (click)="setFilter('filter-AI')">
        AI
      </li>
    </ul>

    <!-- Portfolio Items -->
    <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">
      <div 
        class="col-lg-4 col-md-6 portfolio-item" 
        *ngFor="let item of getFilteredItems()">
        <img [src]="item.image" class="img-fluid" [alt]="item.title">
        <div class="portfolio-info">
          <h4>{{ item.title }}</h4>
          <p>{{ item.description }}</p>
          <a [href]="item.image" title="{{ item.title }}" data-gallery="portfolio-gallery" class="glightbox preview-link">
            <i class="bi bi-zoom-in"></i>
          </a>
          <a [href]="item.link" title="More Details" class="details-link">
            <i class="bi bi-link-45deg"></i>
          </a>
        </div>
      </div>
    </div>

  </div>

</section>
