<section id="resume" class="resume section">

<!-- Section Title -->
<div class="container section-title" data-aos="fade-up">
  <h2>Resume</h2>
  <p>Overview of my professional experience, education, and skills.</p>
</div><!-- End Section Title -->

<div class="container">
  <div class="row">
    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
      <h3 class="resume-title">Summary</h3>

      <div class="resume-item pb-0">
        <h4>Kevin Van Hove</h4>
        <p><em>Motivated full-stack developer with experience in front-end and back-end development, game development, and creating efficient solutions. Team-oriented, communicative, and always striving for improvement.</em></p>
        <ul>
          <li>Sint-Niklaas, Belgium</li>
          <li>0473427122</li>
          <li>kevinvanhove98&#64;hotmail.com</li>
        </ul>
      </div><!-- End Resume Item -->

      <h3 class="resume-title">Education</h3>
      <div class="resume-item">
        <h4>Bachelor of ICT-ELECTRONICS</h4>
        <h5>2020 - 2024</h5>
        <p><em>Odisee Ghent, Specialization in Web and Software Development</em></p>
      </div><!-- End Resume Item -->

    </div>

    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
      <h3 class="resume-title">Professional Experience</h3>
      <div class="resume-item">
        <h4>Internship as Full-Stack Developer</h4>
        <h5>09/2023 - 11/2023</h5>
        <p><em>Corbit, Belgium</em></p>
        <ul>
          <li>Gained experience in front-end (React) and back-end (Node.js) development.</li>
          <li>Developed new UI elements and features in React, improving user experience and maintainability.</li>
          <li>Created data transfer logic and implemented GraphQL middleware for more efficient data integration.</li>
          <li>Wrote migration scripts in Python for seamless data migration and enhanced technical skills.</li>
          <li>Deepened knowledge in modern web development and demonstrated flexibility in working with new technologies.</li>
        </ul>
      </div><!-- End Resume Item -->
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
      <h3 class="resume-title">Skills</h3>
      <div class="resume-item pb-0">
        <ul>
          <li>Fluent in English.</li>
          <li>Experience developing mobile apps using Ionic and Kotlin.</li>
          <li>Proficient in collaboration within multidisciplinary teams.</li>
          <li>Active in MMA and fitness.</li>
          <li>Modify my own games and software in my spare time.</li>
          <li>Hobbyist game developer using Godot.</li>
          <li>Strong communicator and team-focused.</li>
        </ul>
      </div><!-- End Skills Item -->
    </div>
  </div>
</div>


  </section>
