<section id="skills" class="skills section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Competencies</h2>
    <p>Here's a small collection of relevant skills if have acquired over the years.</p>
  </div><!-- End Section Title -->

  <div class="container d-flex flex-column align-items-center" data-aos="fade-up" data-aos-delay="100">
    <div class="row skills-content justify-content-center w-100 text-center">
      <div class="col-lg-5">
        <div *ngFor="let skill of skillsLeft">
          <strong>{{ skill.category }}:</strong> <span>{{ skill.items.join(", ") }}</span>
        </div>
      </div>

      <div class="col-lg-5">
        <div *ngFor="let skill of skillsRight">
          <strong>{{ skill.category }}:</strong> <span>{{ skill.items.join(", ") }}</span>
        </div>
      </div>
    </div>
  </div>

</section>
